ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DC3535;
    border-radius: 6px;
  }
  
  li {
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2rem;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background: #0D4C92;
    transition: 0.1s;
  }
  nav {
    margin: 0;
  }